<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="std" class="spring.beans.Student" autowire="byName">
 	<property name="name" value="CHRIS BENOIT"/>
 	<property name="roll" value="2310"/>
 </bean>
 
 <bean id="address" class="spring.beans.Address">
 	<property name="city" value="Ranchi"/>
 	<property name="state" value="Jharkhand"/>
 	<property name="pin" value="83400567"/>
 </bean>
 
</beans>
